Это раздел https://attack.mitre.org/techniques/T1091/

У тебя есть админправа на тачке?
Соответсвенно – нужно узнать, в каких журналах есть факт подключения флешки, если необходимо – прилепить их к винколлекту, включить аудит, если нужно и т.д., сделать правила
Можно попробовать использовать логи антивиря


Проверка на ВТ отработала, в референс хеши занеслись, но офенс будет при повторном запуске, а так – просто глазками смотреть референс на предмет появления новых хешей
