Это раздел https://attack.mitre.org/techniques/T1091/

У тебя есть админправа на тачке?
Соответсвенно – нужно узнать, в каких журналах есть факт подключения флешки, если необходимо – прилепить их к винколлекту, включить аудит, если нужно и т.д., сделать правила
Можно попробовать использовать логи антивиря


Проверка на ВТ отработала, в референс хеши занеслись, но офенс будет при повторном запуске, а так – просто глазками смотреть референс на предмет появления новых хешей


2.	Придумать, как сделать так, что б при появлении новой записи в референсе – появлялся алерт (это из предыдущего). Через апи сделать офенс нельзя, штатного лога у радара нет (есть только для удаления записи), поэтому тут нужно думать
3.	Отслеживание изменений впн входов. Т.е. если у юзера сопрут пароль и сертификат и попробуют войти в впн – мы это должны увидеть. Привязка к IP – не работает, они постоянно меняются
Сертификат вместе с паролем обычно валяется у юзеров на диске.
